
body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color:  #bfbfbf;
  border-radius: 0;
  border: 0;
  margin: 0;
}

.container {
  width: 100%;
}

.navbar-header h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand{
padding-top: 10px;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
h2{
  font-size: 2em;
  margin: 10px 0 0 0;
}
#chicken-tile, #beef-tile, #sushi-tile {
  height: 700px;
  width: 100%;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-bottom: 20px;
  overflow: auto;
  padding-left: 5px;
  padding-top: 5px;
  background-color:#999999;

}

h3{
margin-top: 0;
font-size: 1.8em;
}
.row div{
padding-top: 35px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  background-color:  #bfbfbf;
}
#nav-list a:hover {
  background: #E7E7E7;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    text-align: center;
  }
#main-content{
  background-color: white;
  margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  color: black;
  border-color: black;
  background-color: black;
}

